.tabs{
    /* background-color: royalblue; */
    color: #F8FFF2;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
}
/* .navButtouns{
    background-color: royalblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
} */

/* Navbar.module.css */

.navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #113A18; /* Matches light background in image */
  z-index: 50;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 

.logo {
  font-size: 1.25rem;
  color: #F8FFF2; /* Dark green */
  font-weight: 600;
}

.hamburger {
  font-size: 1.8rem;
  color: #113A18;
  cursor: pointer;
  display: none;
}

/* Mobile menu */
.mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  transition: transform 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

/* body { */
  /* padding-top: 80px; Adjust this based on navbar height */
/* } */